[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
boto3 = ">=1.24"
ffmpeg-python = "*"
python-dotenv = "*"
requests = ">=2.27"
rich = ">=12.4"
unitypy = "==1.9.20"

[dev-packages]
autopep8 = "*"
python-dotenv = "*"

[requires]
python_version = "3.11"
